/* App.css */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(250, 204, 21, 0.8);
  border-radius: 9999px;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: auto;
  scrollbar-color: rgba(250, 204, 21, 0.8) transparent;
}
